/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

/* body */
body,
html {
  background-color: #1f2029;
}

/* colors */
.bg-darkest {
  background-color: #1f2029 !important;
}

.bg-darker {
  background-color: #2a2b37;
}

.bg-purple {
  background-color: #1a0000;
}

/* text */
.text-light-grey {
  color: #c3c2c9 !important;
}

.text-dark-grey {
  color: #4d4d4d !important;
}

.text-dark-white {
  color: #d9d9d9 !important;
}

/* text sizing */
.text-sz-1 {
  font-size: 0.77rem;
}

.text-sz-2 {
  font-size: 1.4rem;
}

.text-sz-3 {
  font-size: 1.8rem;
}

/* font weight */
.font-w-b {
  font-weight: bold;
}

/* spacing */
.text-spacing-1 {
  letter-spacing: 0.03rem;
}

.text-spacing-2 {
  letter-spacing: 0.3rem;
}
